<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repo List</title>
</head>
<body>
    <h1>Repo List</h1>
    <hr>
    <h2>User <%= user.username %> </h2>
    <img src="<%= user.avatar_url %>" alt="Avatar github <%= user.username %>" width="100">

    <hr>
    <h2>Repo List</h2>
    
    <div>
    <% for(var i=0; i<repositories.length; i++) {%>
        <p>
            <a href="<%=repositories[i]['html_url'] %>" target="_blank">  
                <%=repositories[i]['name'] %>
            </a></p>
    <% } %>
    </div>

    <div>
    <p><a href="https://github.com/hilmanski"> Created by: hilmanski</a></p>
    <p><a href="https://github.com/hilmanski/github-repo-list-nodejs">Source code: https://github.com/hilmanski/github-repo-list-nodejs</a></p>
    </div>
</body>
</html> 